@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";
body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url(images.jpg) no-repeat;
  background-size: cover;
}
a{
  margin: 7%;
  color: #e8293d;
}
.login-box{
  width:350px;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
  background-color: #16161654;
}
.login-box h1{
  float: left;
  font-size: 40px;
  border-bottom: 6px solid #e8293d;
  margin-bottom: 50px;
  margin-left: 22px;
  padding: 13px 0;
}
.textbox{
  width: 85%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
  margin-left: 22px;
  border-bottom: 1px solid #e8293d;
}
.textbox i{
  width: 26px;
  float: left;
  text-align: center;
}
.textbox input{
  border: none;
  outline: none;
  background: none;
  color: white;
  font-size: 18px;
  width: 80%;
  float: left;
  margin: 0 10px;
}
.btn{
  width: 85%;
  background: none;
  border: 2px solid #e8293d;
  color: white;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  margin: 12px 0;
  margin-left: 22px;
}
